[workspace]
resolver = "2"
members = ["mqttstunclient", "wksocket", "wifikey", "wifikey-server/src-tauri"]

[profile.release]
opt-level = "s"

[profile.dev]
debug = true    # Symbols are nice and they don't increase the size on Flash
opt-level = "z"
